<div class="container  p-3 bg-white rounded shadow-lg" style=" " >
  

  <div style="  margin-top :px;"class=" media ">

      
        
          <a target="_blank" rel="noopener noreferrer" style="margin-left:5px;" href="https://api.whatsapp.com/send?phone=905380618677"><img target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=905380618677"src="../media/WHATSAPP.png" width="35"></a>
          <p></p>
          <br>
          <a target="_blank" rel="noopener noreferrer" style="margin-left:25px;" href="https://www.instagram.com/dogardo/"><img target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/dogardo/"src="../media/İNSTAGRAM.png" width="35"></a>
          <a target="_blank" rel="noopener noreferrer"  style="margin-left:25px;" href="https://www.twitter.com/thedogardo/"><img target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/thedogardo/"src="../media/twitter.png" width="35"></a>


        <small class="d-block  mt-3">
           <p style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted ">

        </p>
    </small>
</div>
  </div>
 
