
<nav class="container rounded navbar navbar-expand-lg navbar-light shadow-lg" style="">
   
          <button style = "margin-top: px;margin-t-bot:px; " class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    


    <div class="navbar-collapse collapse" id="navbarsExample09" style="margin-top:-5px;">
   
      <ul class="navbar-nav mr-auto" style = "margin-left: px;">
      <li><a  href="/" style = "margin-left:5px;" class=" nav-link "><img target="_blank" rel="noopener noreferrer" href="/"src="../media/logox.png" width="80"></a> </li>
      
      <li><a  href="/" style = "font-size:18px;margin-top:4px ; color:black;" class=" nav-link text-center">DOGARDO</a> </li>
      

  

      </ul>
      

    
      <ul class="navbar-nav  " style = "">


        <li class="nav-item ">
        <li><a class="nav-link text-center" href="/">Anasayfa</a></li>
        <li><a class="nav-link text-center" href="{% url 'about'  %}">Hakkımda</a></li>
        
        <li><a class="nav-link text-center" href="/articles">Çalışmalarım</a></li>
    
        </li>
      </ul>
       
    </div>


  </nav>