{% extends "layout.html" %}


{% block body %}


<div style="margin-top :15px;"class=" container my-3 p-3 bg-white rounded shadow-lg">
    <h6 style="font-size:25px;" class="border-bottom border-gray pb-2 mb-0">Dogardo Kimdir?</h6>
    <div class="media text-muted pt-3">
      
      <p style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
       
       İsmim Doğa Arda Gaval. 2017 yılında Prof.Dr Fuat Sezgin Fen Lisesi'nden mezun olduktan sonra
       Tekirdağ Namık Kemal Üniversitesi Mimarlık bölümüne yerleştim. 2019-2020 Yarıyılında okuduğum okulu beğenmeyip bıraktım. 2020
       yılında ise Yıldız Teknik Üniversitesi Mimarlık bölümüne tekrardan yerleştim. Kodlama ve tasarım alanına olan ilgimden dolayı
       kendime bir portfolyo oluşturup, yaptığım işleri burada sergilemek ve ilgisi olanlara yapıtlarımı satmak adına bu forumu açtım.
       Yaptığım işleri daha detaylı incelemek için sağ üst köşedeki çalışmalarım sekmesine girip kurcalama yapabilirsiniz.</p>
    </div>


    <small class="d-block text-right mt-3">
    </small>
  </div>
  

  <div style="margin-top :15px;"class="container my-3 p-3 bg-white rounded shadow-lg">
    <h6 style="font-size:25px;" class="border-bottom border-gray pb-2 mb-0">Mimarlık Adına</h6>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Autocad
        </li>
      </div>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Revit
        </li>
      </div>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Rhinoceros
        </li>

      </div>
      
      
      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          SketchUp
        </li>

      </div>
      
 


    <small class="d-block  mt-3">
           <p style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray">
       
       Sketchup'ı basit kütle çalışmaları, Revit'i organik form düzenlemeleri, kesit-görünüş-kat ve tavan-vaziyet planları çıkarımı
        için kullanırken Rhinoceros'u; Revit'te çıkaramadığım organik formları tasarlayıp Revitten tanımlamak 
         , Autocad'i ise diğer programlardan tasarladığım eserleri paftalamak ve çıktı haline getirmek için kullanmaktayım.</p>
    
  </div>
 


  <div style="margin-top :15px;"class="container my-3 p-3 bg-white rounded shadow-lg">
    <h6 style="font-size:25px;" class="border-bottom border-gray pb-2 mb-0">Görsel Tasarım Adına</h6>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Photoshop CS6
        </li>
      </div>


        <small class="d-block  mt-3">
           <p style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray">
       
       Photoshop programını tasarladığım logoların ve dövmelerin renklendirmesi, mimarlık alanında ise sunum paftası tasarımında
       kullanmaktayım. 
       
        </p>
    </small>
  </div>


  <div style="margin-top :15px;"class=" container my-3 p-3 bg-white rounded shadow-lg">
    <h6 style="font-size:25px;" class="border-bottom border-gray pb-2 mb-0">Yazılım Adına</h6>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Python
        </li>
      </div>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Django (Web Framework for Python)
        </li>
      </div>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          Flask (Web Framework for Python)
        </li>
      </div>

      <div class="media text-muted pt-3">
        <li style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          HTML+CSS
        </li>
      </div>


        <small class="d-block  mt-3">
           <p style="font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray">
       
        Bu programları birbirleriyle entegre olacak şekilde web tasarımı adına kullanmaktayım. Flask'ı çok fazla kullanmasam da
        Django üzerinden tasarladığım birden fazla web sitesi var. Linklerini ise çalışmalar kısmındaki web tasarımlarım sekmesinden bulabilirsiniz.
       
        </p>
    </small>
  </div>
  



{% endblock body %}
