{% extends "layout.html" %}

{% block body %}

<div class="container bg-dark shadow-lg rounded">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel"  data-slide-to="0" class=""></li>
      <li data-target="#myCarousel"  data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel"  data-slide-to="2" class=""></li>
    </ol>

    <div class=" carousel-inner" >

    
      <div style="margin-top:15px;margin-bottom:15px;background-image: url(media/logo.jpg) ;backgroun-size:10%%" class="carousel-item jumbotron bg-none" >
        
        <div style="background: none"class="jumbotron bg-none" >
        <br> <br><br> <br><br> <br>
                
          <div class="carousel-caption ">
          
            <h1><a href="/articles/?keyword=%28logo%29" style="color:#3B240B;" class="nav-link text-left">Logo Örnekleri</a></h1>
            
            <p style="color:#393B0B" class="text-right ">Logoya mı ihtiyacın var? Daha önceden yaptığım örnekleri incelemek için linke tıkla.</p>
            
          </div>
        </div>
      </div>


      <div style="margin-top:15px;margin-bottom:15px;background-image: url(media/arch.jpg) ;" class="carousel-item active jumbotron bg-none">
        
        <div style="background: none" class="jumbotron bg-none">
        <br> <br><br> <br><br> <br>
          <div class="carousel-caption ">
          
            <h1><a href="/articles/?keyword=%28mimari%29" style="color:#3B240B;" class="nav-link text-left ">Mimari Örnekler</a></h1>
            <p style="color:#393B0B" class="text-right ">Farklı formatlarda ulaşabileceğiniz mimari projeleri incelemek için linke tıkla.</p>
            
          </div>
        </div>
      </div>


      <div style="margin-top:15px;margin-bottom:15px;background-image: url(media/tattooo.jpg) ;" class="carousel-item jumbotron">
        
        <div style="background: none" class="jumbotron">
         <br> <br><br> <br><br> <br>
         
          <div class="carousel-caption ">
          
            <h1><a  href="/articles/?keyword=%28dövme%29" style="color:#3B240B;" class="nav-link text-left ">Dövme Örnekleri</a></h1>
            <p style="color:#393B0B" class="text-right ">Dövme tasarlatmak ya da farklı örnekleri incelemek mi istiyorsun? Linke tıkla.</p>
          </div>
        </div>
      </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    </div>



  </div>
</div>


<div style="margin-top :15px;" style="" class="container my-3 p-3 bg-white rounded shadow-lg">
    <h6 style="font-size:25px" class="border-bottom border-gray pb-3">Dogardo'ya Hoşgeldiniz.</h6>


        <small class="d-block  mt-3">
           <p style="font-size:18px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray">
       
          Portfolyo websitem olan dogardo'ya hoşgeldiniz. Bir mimarlık öğrencisi olarak tasarımla alakalı çalışmalarımı bu sitede sergiliyorum. Gerekli 
          sekmeleri açarak eserlerimi inceleyebilirsiniz. Kim olduğumu merak ederseniz, hakkımda sayfasını inceleyebilirsiniz. Eserlerimden satın almak ya da
          tasarım yaptırmak isterseniz aşağıdaki linklerden bana ulaşabilirsiniz. Kısaca size sunabileceğim şeyler:
          <li style="margin-top :15px; font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray" >Her formatta ulaştırabileceğim bina tasarımları.  (Oyun formatları dahil.)</li>
          <li style="margin-top :15px; font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray" >Her formatta ulaştırabileceğim dövme tasarımları.</li>
          <li style="margin-top :15px; font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray" >Her formatta ulaştırabileceğim logo tasarımları.</li>
          <li style="margin-top :15px; font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray" >Basit/Orta seviyede Websitesi tasarımı.</li>
        </p>
    </small>
  </div>


<div style="margin-top :15px;" style="" class="container my-3 p-3 bg-white rounded shadow-lg">
    <h6 style="font-size:25px" class="border-bottom border-gray pb-3">Dosyalara Nasıl Ulaşırım?</h6>


        <small class="d-block  mt-3">
           <p style="margin-top :15px; font-size:15px;"class="media-body pb-3 mb-0 small lh-125 text-muted border-bottom border-gray" >
              Eserleri detay sayfalarından inceleyip bilgi alabilirsiniz. Satın almak isterseniz, seçtiğiniz eserin numarasını ya da linkini iletişim bilgilerimden
              bana yönlendiriniz. Görsellerini incelediğiniz eserin istediğiniz formattaki halini zaten en yakın zamanda ulaştırırım. (Varolan eserlerin hepsi 5$, özel tasarım işi farklı tabi.)

          </p>
    </small>
  </div>

















{% endblock body %}













<p>
        {% if request.user.is_authenticated %}
                Giriş Yapılmış, {{request.user.username}}
        {% else %}
                Giriş Yapılmamış
        {% endif %}

</p>